@media (max-width: 991px) {
    header{
        height: 700px;
    }
}

@media (max-width: 767px) {
    #mon_you, #project {
        display: none;
    }
    header{
        height: 500px;
    }


    #ipyou {
        text-align: center;
    }
    body {
        margin: 0;
    }

    #font {
        background: url("../images/sait_mob-min.jpg") no-repeat ;
        background-position: center;
        background-color: #8c8c8c;
    }

    .myfoto2 {
        padding-top: 20px;
        text-align: center;
    }

    #vk {
        color: rgba(80, 114, 153, 0.9);
        transition: 0.4s;
    }

    #vk:hover {
        color: #fefefe;
    }



    .column {

        display: inline-block;
        padding-left: 1vh;
        padding-top: 1vh;
        padding-bottom: 2vh;
        text-align: center;

    }

    h1 {
        font-size: 40px;
        color: #fefefe;
        font-family: 'Comfortaa', cursive;
    }

    h2 {
        color: #fefefe;

        font-size: 22px;
        font-family: 'Didact Gothic', sans-serif;
    }

    .backsec_1 {
        color: #191b1d;
        text-align: center;

    }

    .backsec_2 {
        background: #7575C6;
        flex-direction: column-reverse;
        color: #fefefe;
        padding-bottom: 50px;
        padding-top: 10px;
        text-align: center;
    }
    .engsize {
        width: 200px;
        height: 150px;

    }

    .backsec_4 {

        flex-direction: column-reverse;
        background: #A9A9F4;
        color: #fefefe;

        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .backsec_4 p {
        margin: 0;
    }

    .backsec_3 {

        flex-direction: column-reverse;

        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
        background: #fafafa;

    }


    .text_center {
        flex-direction: column-reverse;
        background: #fafafa;
        padding-top: 20px;
        padding-bottom: 30px;


    }

    h3, p {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 25px;
        font-family: 'Didact Gothic', sans-serif;
    }

    #eng {
        align-self: center;
    }

    .triagle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 70px 0 70px;
        border-color: #8c8c8c transparent transparent transparent;
        margin: 0 auto;
    }

    .triagle1 {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 70px 0 70px;
        border-color: #7575C6 transparent transparent transparent;
        margin: 0 auto;

    }

    #triagle2 {
        background: #A9A9F4;
    }

    .triagle2 {

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 70px 0 70px;
        border-color: #fafafa transparent transparent transparent;
        margin: 0 auto;

    }

    #triagle3 {
        background: #7575C6;
    }

    .triagle3 {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 70px 0 70px;
        border-color: #fafafa transparent transparent transparent;
        margin: 0 auto;
    }

    .startriagle {
        background: #fafafa;
    }

    .startriagle1 {
        background: #fafafa;
    }
    .exp {
        font-size: 15px;
    }
}